@{
    ViewBag.Title = "Experience";
}





<h2>Qualifications</h2>
<ul>
    <li>Bachelor of Information Technology (University of Canberra)</li>
</ul>
<h2>Experience</h2>
<ul>
    <li>
        1/3/2015 – Present
        <div>
            Company: Managed Business IT Solutions (MBITS)
            <br />
            Position: Software Developer
            <br />
            Type: Full Time
            <br />
            Working for MBITS I have worked upon many environments such as C# applications designed for servers and clients.
            Also developed for C# ASP.Net MVC web pages for windows environments.
            I have wroked upon inhouse systems and off the shelf software for large clients.
            Database architectures I've worked upon have been MSSQL, MYSQL and CQL
        </div>
    </li>

    <li>
        1/8/2014 – 17/10/2014
        <div>
            Company: Evolution Stainless Steel
            <br />
            Position: Labourer
            <br />
            Type: Contract
            <br />
            Whilst working for Evolution Stainless Steel the duties I was tasked for was to perform site measurements and liaise with clients and draw up projects that my team will then fabricate and install for them.
        </div>
    </li>

    <li>
        1/8/2014 – 17/10/2014
        <div>
            Company: Capital Engineering
            <br />
            Position: Trade Assistant
            <br />
            Type: Full Time
            <br />
            Performed the duties of an assistant for my father’s family business where the duties I performed consisted of the recording of site measurements, fabrication and installation of steel structures and customer liaison.
            <br />

            Qualifications obtained:
            <ul>
                <li>
                    Industry white card
                </li>
                <li>
                    Apply first aid certificate
                </li>
                <li>
                    Working at heights certificate
                </li>
                <li>
                    Confined space certificate
                </li>
                <li>
                    Gas testing certificate
                </li>
            </ul>
        </div>
    </li>
</ul>
